.form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-bottom: 40px;
	width: 100%;
	.btn {
		margin-top: 4px;
	}
	.inputs {
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 100%;
	}
	.errors {
		min-height: 24px;
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		align-items: center;
	}
}
