.meta {
	display: flex;
	width: 100%;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	gap: 8px;
	flex-wrap: wrap;

	.left {
		display: flex;
		align-content: center;
		justify-content: center;
		gap: 8px;
	}
}
