.wrapper {
	display: flex;
	gap: 16px;
	padding: 32px 0;
	max-width: calc(100vw - 350px);
	border-bottom: var(--border);
	.content__wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
		flex: 1;
		.article {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		.footer {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			gap: 64px;
			padding-right: 8px;
			.link {
				flex-shrink: 0;
			}
			@media screen and (max-width: 768px) {
				flex-direction: column-reverse;
				justify-content: center;
				align-items: center;
				gap: 16px;
			}
		}
	}
	@media screen and (max-width: 768px) {
		max-width: 100vw;
	}
}
