.li {
	display: flex;
	.tab {
		box-sizing: border-box;
		background-color: var(--bg-primary-color);
		padding: 0 24px;
		border: none;
		display: flex;
		align-items: center;
		text-decoration: none;
		max-width: 30vw;
		overflow-x: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
		cursor: pointer;
		&:hover,
		&:active {
			color: var(--text-primary-color);
		}
		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}
	.active {
		color: var(--text-primary-color);
		box-shadow: 0 2px 0px var(--accent-color);
	}
	.inactive {
		color: var(--text-secondary-color);
	}
}
